
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p>Info about Mars</p>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
    <!-- place holders for image and other data -->
    <h2>Latest Mars News</h2>
    <h3> {{ m_data.content_title }} </h3>
    <h5> {{ m_data.news_p }} </h5>
<div class="row">
   <div class="col-md-8">
<img src="{{ m_data.featured_image_url }}" />
        </div>

        <div class="col-md-4">
    <h2>Mars Facts</2>
      <table>{{ m_data.mars_facts|safe }}</table>
        </div>
</div>
      <h3 style="padding-top:30px; text-align: center;">Mars Hemispheres</h3>
    <div class = "row">
      {% for hemisphere in m_data.hemisphere_image_urls %}
    <div class = "col-md-3">
      <div>
      <img class= "img-responsive" src="{{hemisphere.img_url}}" alt="..."> 
      <h5>{{hemisphere.title}}</h5>
    </div> 
    
    </div> 
      {% endfor %}
    </div>
  </div>

</body>

</html>